@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;
  font-family: $primary-font;
  @include desktop {
    padding: 8rem 3rem;
  }

  &__button {
    @include button;
    text-decoration: none;
    padding: 0.35rem;
    &--logout {
      padding: 0.75rem;
      font-size: 1.25rem;
      margin-right: 1rem;
    }
    @include desktop {
      padding: 0.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: #41403e;
  }

  &__text {
    font-size: 1rem;
    font-family: $primary-font;
    text-align: center;
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__container {
    margin: 2rem;
  }
}

.login {
  @include card;
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  @include desktop {
    padding: 3rem;
    width: 22rem;
  }

  &__wrapper {
    display: flex;
    gap: 1rem;
    margin-left: 0.7rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    @include desktop {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    margin-top: 0.2rem;
    font-size: 2rem;
    font-family: $primary-font;
    @include desktop {
      font-size: 2.5rem;
    }
  }

  &__button {
    @include button;
    margin-top: 1rem;
    padding: 0.5rem 5rem;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    @include desktop {
      font-size: 1.25rem;
      padding: 0.5rem 5.4rem;
    }
  }

  &__message {
    margin-top: 1.5rem;
    margin-left: 1.4rem;
    font-family: $primary-font;
    color: #ee6055;
    @include desktop {
      font-size: 1.1rem;
    }
  }
}
