@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.booking {
  font-family: $primary-font;
  @include desktop {
    width: 60%;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    @include desktop {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__icon {
    width: 3.35rem;
    height: 3.35rem;
    @include desktop {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &__title {
    margin: 0.75rem;
    @include desktop {
      font-size: 2rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.2rem solid #000;
      border-bottom-right-radius: 15rem 0.5rem;
    }
  }

  &__button {
    @include button;
    font-size: 0.9rem;
    padding: 0.4rem;
    background-color: #000;
    color: #fff;
    &--add {
      margin-top: 1.5rem;
    }
    &--display {
      @include desktop {
        display: none;
      }
    }
    &--show {
      display: none;
      @include desktop {
        display: flex;
        background-color: #000;
        color: #fff;
        margin-left: 1.5rem;
      }
    }
    @include desktop {
      padding: 0.3rem;
    }
    &--desktop {
      @include desktop {
        padding: 0.7rem;
      }
    }
  }

  &__info {
    gap: 1.5rem;
    margin-top: 1rem;
  }

  &__add-icon {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3);
      transform: translate3d(0, 2px, 0);
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3);
    }
  }
}

.flight {
  @include card;
  padding: 1rem;

  .flight__display-container {
    @include desktop {
      height: 6.25rem;
      overflow-y: auto;
    }
  }

  &__display {
    display: none;
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-left: 1rem;
      overflow-y: auto;
      max-height: 18.75rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 0.5rem;
    &--button {
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }

  &__article {
    border-bottom: 0.15rem dashed #000;
    @include desktop {
      padding: 0.5rem 1rem;
      border: 0.15rem dashed #000;
    }
  }

  &__text,
  &__subtitle {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  &__button {
    margin-bottom: 0.75rem;
  }
}
