@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ReactModal__Content--after-open {
  font-family: $primary-font;
  @include desktop {
    width: 30%;
    transform: translate(109%, 34%);
  }
}

.add-booking {
  &__label {
    @include desktop {
      font-size: 1.2rem;
    }
  }

  &__button {
    @include button;
    font-size: 0.9rem;
    padding: 0.25rem;
    &--close {
      margin-bottom: 1rem;
      background-color: #000;
      color: #fff;
      @include desktop {
        margin-bottom: 0.5rem;
      }
    }
    &--save {
      margin-top: 1rem;
      background-color: #000;
      color: #fff;
    }
  }

  &__input {
    @include input;
    font-family: $primary-font;
    &:focus {
      border: 0.15rem solid #000;
      outline: none;
    }
  }
}

.react-datetime-picker {
  &__wrapper {
    @include select;
  }
}

.react-datetime-picker__calendar .react-calendar {
  font-family: $primary-font;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  font-family: $primary-font;
}

.react-calendar__navigation {
  background-color: #e5f9ff;
}
