@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ReactModal__Content--after-open {
  font-family: $primary-font;
}

.add-booking {
  &__button {
    @include button;
    font-size: 0.9rem;
    padding: 0.25rem;
    &--close {
      margin-bottom: 1rem;
    }
    &--save {
      margin-top: 1rem;
    }
  }

  &__input {
    @include input;
    &:focus {
      border: 0.15rem solid #000;
      outline: none;
    }
  }
}

.react-datetime-picker {
  &__wrapper {
    @include select;
  }
}

.react-datetime-picker__calendar .react-calendar {
  font-family: $primary-font;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  font-family: $primary-font;
}

.react-calendar__navigation {
  background-color: #e5f9ff;
}
