@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  &__wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
  }

  &__title {
    text-align: center;
    margin: 0.5rem;
  }

  &__image {
    width: 3rem;
    height: 3rem;
  }
}
