@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  &__login-button {
    margin: 2rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #f2f0f9;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
