@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  background-image: url(../../assets/images/white-crumpled-paper-paper-texture.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 42.5rem;
  @include desktop {
    background-image: url(../../assets/images/paper_copy.jpg);
  }

  &__container {
    @include desktop {
      display: flex;
    }
  }

  &__group {
    @include desktop {
      width: 45%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1.5rem;
    @include desktop {
      gap: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__title {
    text-align: center;
    margin: 0.5rem;
    font-family: $primary-font;
    @include desktop {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  &__image {
    width: 3rem;
    height: 3rem;
    &--back {
      width: 2rem;
      height: 2rem;
      margin-left: 2rem;
    }
    @include desktop  {
      width: 4rem;
      height: 4rem;
    }
  }
}
