@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/font/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/font/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

body {
  font-family: "Titillium Web", sans-serif;
}
