@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");

$primary-font: "Patrick Hand SC", sans-serif;
$secondary-font: "Neucha", sans-serif;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
