@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.conversion {
  margin: 2rem;
  display: flex;
  gap: 1rem;

  &__wrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom-left-radius: 0.9375rem 15.9375rem;
    border-bottom-right-radius: 15.9375rem 0.9375rem;
    border-top-left-radius: 15.9375rem 0.9375rem;
    border-top-right-radius: 0.9375rem 15.9375rem;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.2) 0.9375rem 1.75rem 1.5625rem -1.125rem;
  }

  &__input {
    border: 1px solid #333;
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: 8rem;
    margin-right: 1rem;
  }

  &__select {
    margin-top: 1rem;
    padding: 0.15rem;
    border-radius: 0.25rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-left: 0.2rem;
    margin-top: 0.7rem;
  }

  &__into-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.75rem;
  }
}
