@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.current-currency {
  margin: 3rem;
  &__box {
    background-color: #ffffff;
    width: 20rem;
    height: 3.5rem;
    text-align: center;
    padding-bottom: 1rem;
    border: 0.1rem solid;
    border-radius: 0.35rem;
  }
}
