@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.current-currency {
  margin: 2rem;
  &__box {
    background-color: #f2f0f9;
    width: 20rem;
    height: 3.3rem;
    text-align: center;
    border: 0.1rem solid;
    border-radius: 0.35rem;
  }
}
