@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.marker {
  &__image {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    &:hover {
      transform: translate3d(0, 0.125rem, 0);
    }
  }
}

.map-place {
  font-family: $primary-font;

  &__label {
    font-size: 1.2rem;
  }

  &__content {
    font-size: 1rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  &__button {
    @include button;
    padding: 0.3rem;
    margin-right: 0.5rem;
  }
}

.mapboxgl-popup-content {
  width: 15.5rem;
}
