@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ReactModal__Overlay {
  z-index: 1000;
}

.add-popup {
  &__title {
    margin: 1rem 0;
  }

  &__subtitle {
    margin: 0.5rem 0;
  }

  &__input {
    @include input;
    font-family: $primary-font;
  }

  &__button {
    @include button;
    padding: 0.5rem;
    &--save {
      margin-top: 1rem;
    }
  }
}

.react-datepicker__month-container {
  font-family: $primary-font;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: #e5f9ff;
}
