@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ReactModal__Overlay {
  z-index: 1000;
}

.add-popup {
  &__modal {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 80%;
    height: 93%;
    transform: translate(15%, 3%);
    overflow-y: auto;
    max-height: 50rem;
    @include desktop {
      width: 30%;
      transform: translate(109%, 3%);
    }
  }
  
  &__title {
    margin: 1rem 0;
  }

  &__subtitle {
    margin: 0.5rem 0;
    @include desktop {
      font-size: 1.15rem;
    }
  }

  &__input {
    @include input;
    font-family: $primary-font;
    &:focus {
      border: 0.15rem solid #000;
      outline: none;
    }
  }

  &__button {
    @include button;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    &--save {
      margin-top: 1rem;
      background-color: #000;
      color: #fff;
    }
    @include desktop {
      font-size: 0.9rem;
    }
  }
}

.react-datepicker__month-container {
  font-family: $primary-font;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: #e5f9ff;
}

.error-message {
  color: #ee6055;
}
