@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100%;
  height: 4rem;

  &__link {
    text-decoration: none;
    color: black;
  }

  &__login-icon {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 14px;
    top: 15px;
  }
}
