@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar {
  margin: 1.5rem 0;
  background-image: url(../../assets/images/paper_copy.jpg);
  background-position: center;
  background-size: cover;
  @include desktop {
    margin: 0;
  }
}
