@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  margin-top: 1rem;
  border-top: 0.15rem solid;
  border-top-left-radius: 15.9375rem 0.625rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0;
  }
  &__calendar-icon {
    width: 3rem;
    height: 3rem;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3);
      transform: translate3d(0, 2px, 0);
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3);
    }
  }

  &__map-icon {
    width: 3rem;
    height: 3rem;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3);
      transform: translate3d(0, 2px, 0);
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3);
    }
  }
}
