@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem;

  &__button {
    @include button;
    text-decoration: none;
    padding: 0.35rem;
  }

  &__text {
    font-size: 0.95rem;
    font-family: $primary-font;
  }

  &__link {
    text-decoration: none;
    color: #41403e;
  }
}

.signup {
  @include card;
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;

  &__wrapper {
    display: flex;
    gap: 1rem;
    margin-left: 0.6rem;
  }

  &__title {
    margin-top: 0.1rem;
    font-size: 2rem;
    font-family: $primary-font;
  }

  &__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-top: 0.25rem;
  }

  &__button {
    @include button;
    margin-top: 1rem;
    padding: 0.5rem 5rem;
    font-size: 1rem;
  }

  &__message {
    margin-top: 1.5rem;
    margin-left: 1.4rem;
    font-family: $primary-font;
    color: #ee6055;
  }
}
