@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles//partials/resets" as *;

.App {
  background-image: url(./assets/images/paper_copy.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40.2rem;
  @include desktop {
    background-image: url(./assets/images/paper_copy.jpg);
    height: 54rem;
  }
}
