@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles//partials/resets" as *;

.App {
  border-radius: 2rem;
  background-color: #ffffff;
  height: 80vw;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 8%;
}
