@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.first-page {
  font-family: $primary-font;

  &__title {
    margin: 0;
    text-align: center;
    padding-top: 6rem;
    font-size: 2.75rem;
    @include desktop {
      font-size: 5rem;
      padding-top: 4rem;

    }
  }
}
