@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.delete-popup {
  &__title {
   margin: 1rem 0;
  }

  &__button {
    @include button;
    padding: 0.5rem;
    &--delete {
        margin-top: 0.5rem;
    }
  }
}
