@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.country-select {
  &__globe-image {
    width: 16rem;
    height: 16rem;
    margin: 4rem;
  }

  &__pin-image {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    z-index: 10;
    left: 52%;
    top: 39%;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3);
      transform: translate3d(0, 2px, 0);
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3);
    }
    &--us {
      left: 24%;
      top: 56%;
    }
  }

  &__plain-image {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 19%;
    right: 7%;
  }

  &__plain-image-two {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 5%;
    top: 33%;
  }
}
