@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.country-select {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
  }

  &__globe-image {
    width: 16rem;
    height: 16rem;
    @include desktop {
      width: 30rem;
      height: 30rem;
      margin-top: 1rem;
    }
  }

  &__pin-image {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3);
      transform: translate3d(0, 2px, 0);
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3);
    }
    &--uk {
      left: 52%;
      top: 38%;
      @include desktop {
        left: 51%;
        top: 38%;
      }
    }
    &--us {
      left: 24%;
      top: 56%;
      @include desktop {
        left: 37%;
        top: 68%;
      }
    }
    @include desktop {
      width: 5rem;
      height: 5rem;
    }
  }

  &__plain-image {
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: 19%;
    right: 12%;
    @include desktop {
      width: 20rem;
      height: 20rem;
      bottom: -3%;
      right: 25%;
    }
  }

  &__plain-image-two {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 5%;
    top: 33%;
    @include desktop {
      width: 20rem;
      height: 20rem;
      left: 21%;
      top: 32%;
    }
  }
}
